extends ../layouts/default

block head
  title nerdclustr

block body
  div.hero-unit
    //h1 #{projectName}
    img(src="images/orange-pin_600.png")
    br
    p 
      | nerdclustr is brought to by the authors of HTML5 Hacks:
      | Jesse Cravens and Jeff Burtoft.
    p   
      | This HTML5 demo application is the companion codebase for presentations
      | at 2013 SXSW Interactive and 2013 Fluent Conference.
      div
        a.btn(href='/Login/') Login
        | 
        a.btn.btn-primary(href='/signup/') Get an Account
      div.clearfix