extends ../layouts/default

block head
  title nerdclustr

block body
  div.hero-unit
    //h1 #{projectName}
    img(src="images/orange-pin_600.png")
    p
    br
    p 
      | nerdclustr is brought to by the authors of HTML5 Hacks. 
      | It contains the It was popularised in the 1960s with the 
      | release of Letraset sheets containing Lorem Ipsum passages, 
      | and more recently with desktop publishing software like Aldus 
      | PageMaker including versions of Lorem Ipsum.
      div
        //a.btn.btn-large(href='/Login/') Login
        //| 
        //a.btn.btn-large.btn-primary(href='/signup/') Get an Account
      div.clearfix