extends ../layouts/default

block head
  title Geo-Social Starter

block body
  div.hero-unit
    h1 #{projectName}
    p.lead
      | Attend the Opening Party.
      div
        a.btn.btn-large(href='/Login/') Login
        | 
        a.btn.btn-large.btn-primary(href='/signup/') Get an Account
      div.clearfix