doctype 5
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/default.css')
    link(rel='stylesheet', href='/layouts/styles.css')
    //link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css')
    link(rel="stylesheet", href="/layouts/MarkerCluster.css")
    link(rel="stylesheet", href="/layouts/MarkerCluster.Default.css")
    //link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css")
    block neck
  body(onload="")
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          //a.brand(href='/account/') #{projectName}
          a.brand(href='/account/')
            img(src="../images/logo3-horizontal_175.png")
          span.pull-right.newNav
            button(type='button')#flipper.btn.btn-inverse
              span.icon-edit 
              span.view-button view profile
            button(type='button', onclick='document.location.href="/logout/"').btn.btn-inverse
              span.icon-off 
              span logout      

    div.page
      div.container
        block body
    
    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            //li: a(href='/') Home
            //li: a(href='/about/') About
            //li: a(href='/contact/') Contact
          div.clearfix
    
    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')
    
    script(src='/vendor/leaflet/realworld.388.js')
    script(src='/vendor/jquery/jquery-1.8.2.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/backbone/backbone-min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    //script(src='/vendor/leaflet/leaflet.js')  
    script
      L_PREFER_CANVAS = true
    //script(src='http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js')
    script(src='/vendor/leaflet/leaflet.markercluster-src.js')

    script(src='/vendor/socket.io/socket.io.js')
    script(src='/layouts/utility.js')
    script(src='/app.js')
    block feet