doctype 5
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='/layouts/default.css')
    link(rel='stylesheet', href='/layouts/styles.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.css')
    link(rel="stylesheet", href="/layouts/MarkerCluster.css")
    link(rel="stylesheet", href="/layouts/MarkerCluster.Default.css")
    block neck
  body(onload="")
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/account/') #{projectName}
          div.nav-collapse
            ul.nav
              li: a(href='/account/') My Account
              li: a(href='/main/') Main
            ul.nav.pull-right
              li: a(href='/logout/') Logout
    
    div.page
      div.container
        block body
    
    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            &#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/about/') About
            li: a(href='/contact/') Contact
          div.clearfix
    
    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')
    
    script(src='/vendor/jquery/jquery-1.8.2.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/backbone/backbone-min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    //script(src='/vendor/leaflet/leaflet.js')  
    script(src='http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js')
    script(src='/vendor/leaflet/leaflet.markercluster-src.js')
    script(src='/vendor/leaflet/realworld.388.js')
    script(src='/vendor/socket.io/socket.io.js')
    script(src='/layouts/utility.js')
    //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC9V9zwHNI-99Q4x2scm9ASKcMzkJNmGzQ&sensor=false')
    //script(src='https://maps.googleapis.com/maps/api/js?v=3.10&sensor=false')
    script(src='/app.js')
    block feet