* { margin: 0; padding: 0; border: 0; }

body {
	background: url('../vendor/leaflet/assets/grey.png') #f2f2f2;
	color: #666;
	font: 14px/18px 'Lato', Arial, sans-serif;
}

header {
	//width: 100%;
	text-align: center;
	line-height: 32px;
}

h1 {
	font-size: 30px;
	font-weight: 400;	
}

.description {
	font-weight: 300;
}

.wrapper {
	//width: 770px;
	margin: 50px auto;
}

.app {
	//width: 750px;
	padding: 10px;
	background: rgba(230, 230, 230, 0.45);
	text-align: center;
	color: #999;
	font-size: 24px;
	font-weight: 300;
	line-height: 390px;
	margin: 10px auto;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#map {
	//width: 750px;
	height: 420px;
	background: transparent;
}

.infobox {
	background: #FFF;
	//width: 320px;
	padding: 40px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 175px;
	z-index: 10000;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: 0 0 4px 0 #AAAAAA;

	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.infobox.error {
	opacity: .9;
	filter: alpha(opacity=90);
	visibility: visible;
}

/* custom popup fonts */
.leaflet-popup-content {
	font: 12px 'Lato', Arial, sans-serif !important;
}


/*added in for card flip */
.container {
  width: 98%;
  xheight: 390px;
  position: relative;
  xmargin: 0 auto 40px;
  -webkit-perspective: 800;
  perspective: 800;


}

body { /*customize tempete */
background: black;
}

.footer {/*hidden for now until impliment flexbox */
  display: none;
}


.card {
    
  width: 100%;
  xheight: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
   transition: transform 1s;
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  -webkit-transform-origin: right center;
    transform-origin: right center;
    
}

.card.flipped {
  -webkit-transform: translateX( -100% ) rotateY( -180deg );
          transform: translateX( -100% ) rotateY( -180deg );
           -ms-transform: translateX( -100% ) rotateY( -180deg );
}

.card .frontView, .card .backView {
  xheight: 90%;
  overflow: hidden;
  width: 96%;
  padding: 2%;
  background: white;
  color: black;
  xtext-align: center;
  xfont-weight: bold;
  xfont-size: 3em;
  xline-height: 2em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.card .frontView{
  xbackground: #ccc;
  xcolor: black;
  text-transform: uppercase;

  
}

.card .backView {
  -webkit-transform: rotateY( 180deg );
   transform: rotateY( 180deg );

}


.card.flipped .frontView{
      xbackface-visibility: visible;
    
}
.card.flipped .backView{
      backface-visibility: visible;
    
}
